{% extends "site_base_p.html" %}

{% load url from future %}
{% load i18n %}
{% load account_tags %}

{% block head_title %}{% trans "Password reset sent" %}{% endblock %}

{% block body_outer %}
    <!-- Title -->
	<section class="title">
	    <div class="container">
	        <div class="row">
	            <div class="col-md-6">
	                <h1>{% trans "Password Reset Sent" %}</h1>
	            </div>
	            <div class="col-md-6">
	                <ul class="breadcrumb pull-right">
	                    <li class="active">{% trans "Forgot Password" %}</li>
	                </ul>
	            </div>
	        </div>
	    </div>
    </section>

    <section>
        <div class="container">
            <div class="center vertical-center">
                {% if not resend %}
                    <p class="lead">{% blocktrans %}We have sent you an email.<br>If you do not receive it within a few minutes, try resending or contact us at <a href="mailto:{{ THEME_ACCOUNT_CONTACT_EMAIL }}">{{ THEME_ACCOUNT_CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
                    <form method="POST" action="{% url "account_password_reset" %}">
                        {% csrf_token %}
                        {% for field in form %}
                            {{ field.as_hidden }}
                        {% endfor %}
                        <button type="submit" name="resend" class="btn btn-primary">{% trans "Resend" %}</button>
                    </form>
                {% else %}
                    <p class="lead">{% blocktrans %}We have resent the password email.<br>If you do not receive it within a few minutes, contact us at <a href="mailto:{{ THEME_ACCOUNT_CONTACT_EMAIL }}">{{ THEME_ACCOUNT_CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
                {% endif %}

                {% comment %}
                <p class="lead">{% trans "Submit your email linked to ANHDC and we will send you an email to reset your password." %}</p>
                <p class="grid-spacer">{% blocktrans %}If you have any trouble resetting your password, contact us at <a href="mailto:{{ THEME_ACCOUNT_CONTACT_EMAIL }}">{{ THEME_ACCOUNT_CONTACT_EMAIL }}</a>.{% endblocktrans %}</p>
                {% endcomment %}
            </div>
        </div>
    </section>
{% endblock %}